<form><div id="container">
<style>
#graph-container {
top: 0;
bottom: 0;
left: 0;
right: 0;
position: absolute;
}
</style>
<div id="graph-container"></div>
</div>
</form>
<form>
	<md-text-float label="nodeLabel" ng-model="nodeLabel" placeholder="Label"></md-text-float>
	<md-text-float label="nodeXPos" ng-model="nodeXPos" placeholder="X Position"></md-text-float>
	<md-text-float label="nodeYPos" ng-model="nodeYPos" placeholder="Y Position"></md-text-float>
	<md-text-float label="nodeType" ng-model="nodeType" placeholder="Type"></md-text-float>
	<md-button ng-click="addNode()">Add Node</md-button>
	<md-content>{{nodeTransfer}}</md-content>
</form>
